body, #login {
  background-color: #303030;
}

header {
  background-color: #1b1b1b;
}


/*--- 20190321 : edit page login ---*/
#login input[type=password], #login input[type=text] {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 7px;
  max-width: 250px;
  font-size: 13px;
}

#login ::placeholder {
  color: #CCCFD9;
}

#login .wrong {
    background: var(--red);
    color: #fff;
    padding: .5em;
    text-align: center;
    -webkit-animation: opac .2s forwards;
    animation: opac .2s forwards;
    margin-bottom: 12px;
}

#login input[type=submit]{
  background:#c7d22c;
  color: #404041;
  font-weight:400;
  border: 1px solid #ccc;
  border-radius: 7px;
  max-width: 250px;
  margin-left: 5px;
}

#login input[type=submit]:hover {
  background:#FFFFFF;
  color: #404041;
  font-weight:400;
  border: 1px solid #c7d22c;
  border-radius: 7px;

}

#login h1 {
   font-size: 1.5em;
   font-weight:100;
   color: #B1C82C !important;
}

#login form {
    max-width: 29em;
    width: 90%;
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
}

#login img {
    width: 98px;
    height: 98px;
}

.dashboard input[type=submit]{
  background:#c7d22c;
  color: #404041;
  font-weight:400;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.dashboard input[type=submit]:hover{
  background:#303030;
  color: #c7d22c;
  font-weight:400;
  border: 1px solid #c7d22c;
  border-radius: 7px;
}

/*-- 20190321 : edit breadcrumbs --*/
#breadcrumbs, #breadcrumbs span {
    background-color: #b7c128;   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #00000A;
}

#breadcrumbs {
    padding-left: 10px;
    border-radius: 0px;
    border-bottom: 3px solid #6f6f00;

}

#breadcrumbs a {
    color: #000015;
    font-weight: 500px;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
    border-radius: .125em;
}
#breadcrumbs .material-icons {
  color: #000015;
  font-weight: 500px;
}

/*-- hiiden text --*/
.credits{
  text-indent: -9999px;
}

#search{
  visibility: hidden;
}

/*-- change color menu --*/
.action:hover {
    text-decoration: none;
    background-color: #555;
    color:#fff;
}

.action,
#breadcrumbs,
#breadcrumbs span,
.dashboard #nav,
#listing.mosaic h2,
#login h1 {
  color: rgba(255, 255, 255, 0.7);
}

#listing.list .item.header {
  color: rgba(255, 255, 255, 0.7);
  background: #616161;
}

#listing.list .item,
#listing.mosaic .item {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.7);
}

.dashboard {
  background: #424242;
  color: rgba(255, 255, 255, 1.0);
}

select,
textarea,
input,
.dashboard textarea,
.dashboard #locale,
.dashboard input[type=password],
.dashboard input[type=text] {
  background: #212121;
  color: rgba(255, 255, 255, 0.9);
  border-color: #303030;
}

select,
.dashboard input[type=password],
.dashboard input[type=text],
.dashboard select {
  padding: 8px;
}

#search #input {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.7);
}

#search.active #input>.action i,
#search.active input,
#search.active #input,
{
  background-color: #303030;
  color: rgba(255, 255, 255, 0.7);
}

#search #result {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.7);
}

#search #result .boxes,
.card {
  background-color: #424242;
  padding: 0 15px 15px 15px;
}

#search #result .boxes h3,
.card h2,
.card h3,
.card p,
.card-content {
  color: rgba(255, 255, 255, 0.7);
}

#nav li {
  padding-top: 1em !important;
}

nav.active, #dropdown.active {
    background-color: rgb(51, 51, 51);
}

.button {
  margin-right: 5px;
  outline: 0;
  border: 0;
  padding: .5em 1em;
  cursor: pointer;
  background:#c7d22c;
  color: #404041;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: .1s ease all;
}

.button:hover{
  outline: 0;
  border: 0;
  padding: .5em 1em;
  cursor: pointer;
  background:#303030;
  color: #c7d22c;
  border: 1px solid #c7d22c;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: .1s ease all;
}

